@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

$default-animation: 0.2s ease-in;
$blue-primary: #2B41B7;
$blue-main: #0D2A54;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.accordion {
  max-width: 600px;
  margin: 150px auto 0;
  background: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02), 0px 4px 17px rgba(0, 0, 0, 0.14), 0px 4px 22px rgba(0, 0, 0, 0.12);
  border-radius: 8px;

  &__item {
    &.open {
      .accordion__header {
        color: $blue-primary;
        svg {
          stroke: $blue-primary;
          transform: scaleY(-1);
        }
      }
      .accordion__content {
        transform: scaleY(1);
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: $blue-main;
    border-bottom: 2px solid #D0DBF1;


    svg {
      stroke: $blue-main;
      transition: $default-animation;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    background: #FAF8F6;
    transform: scaleY(0);
    max-height: 0;
    transform-origin: top center;
    transition: $default-animation;

    &__wrapper {
      padding: 16px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #2B41B7;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    &__item {
      background: url(./images/bullet-icon.svg) no-repeat left 7px;
      padding-left: 25px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $blue-main;
    }
  }
}

@media screen and (min-width: 768px) {
  .accordion {
    &__header, &__content__wrapper {
      padding: 24px;
    }
  }
  
}